[submodule "site-lisp/recall-position"]
        path = site-lisp/recall-position
        url = https://github.com/cjohansen/recall-position.el.git
[submodule "site-lisp/ajc-java-complete"]
	path = site-lisp/ajc-java-complete
	url = git://github.com/jixiuf/ajc-java-complete.git
[submodule "site-lisp/emacs-repository-root"]
	path = site-lisp/emacs-repository-root
	url = git@github.com:ZungBang/emacs-repository-root.git
