[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/recall-position"]
	path = site-lisp/recall-position
	url = https://github.com/cjohansen/recall-position.el.git
